.eventTitleBlockContainer {
    display: flex;
    flex-direction: column;
    max-height: 33%;
    padding: 0.85rem 1.7rem;
    text-align: end;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2rem);
}

.eventTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Baloo Chettan 2', cursive;
    margin-bottom: -0.35rem;;
}

.eventDate {
    font-size: 1.25rem;
    font-style: italic;
    font-family: 'Baloo Chettan 2', cursive;
    color: gray;
}
