.cardContainer {
    width: 20vw;
    min-width: 500px;
    height: 50vh;
    min-height: 600px;
    background: linear-gradient(
        to top right,
        rgba(5, 129, 187, 0.25),
        rgba(4, 121, 102, 0.15)
    );
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    border: solid rgba(255, 255, 255, 0.65) 1px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
}